{% extends "blog/post.html" %}
{% load static %}

{% block content %}
<p>The following was a puzzle presented to Marshwood GT students on May 3, 2019. Have fun doing math!</p>

<p>In the past year, the educational game <a href="https://www.gimkit.com/">Gimkit</a> has become all the craze in classrooms across the country. (However, neither this math riddle nor its author is associated with the Gimkit company or any Gimkit employee in any way.) In Gimkit, students earn money for answering educational questions, and in live games, students race against each other to answer more questions and earn more money than anyone else in their class. However, Gimkit players can also use their money to buy upgrades and powerups, which then allows them to earn money even faster. For example, here are some of the Gimkit powerups:</p>

<ul>
  <li><strong>Mini Bonus</strong>: Earn 2 times the amount of money than normal from answering one question.</li>
  <li><strong>Mega Bonus</strong>: Earn 5 times the amount of money than normal from answering one question.</li>
  <li><strong>Discounter</strong>: Decrease the cost of all upgrades by 25%.</li>
</ul>

<p>However, the catch with Gimkit powerups is that the cost of powerups increase as you gain more money, so understanding the relationship between how much money you have and the cost of a powerup is critical to optimizing one's Gimkit strategy. Unfortunately, there is no Gimkit Rule Book which gives you an equation for the cost of all of the powerups, so you have to figure out the equations yourself!</p>

<p>First, in order to derive the equations for the cost of each powerup, you play a Gimkit game and, after answering every few questions, you record the amount of money you have and the cost of each powerup according to the Gimkit Shop. The following table contains all the data that you recorded:</p>

$$\begin{array}{|c|c|c|c|}\hline \text{Amount of Money} & \text{Cost of Mini Bonus} & \text{Cost of Mega Bonus} & \text{Cost of Discounter} \\ \hline \$10 & \$25 & \$55 & \$355 \\ \hline \$17 & \$25 & \$55 & \$355 \\ \hline \$77 & \$25 & \$55 & \$365 \\ \hline \$147 & \$25 & \$60 & \$380 \\ \hline \$217 & \$30 & \$65 & \$395 \\ \hline \$367 & \$35 & \$75 & \$420 \\ \hline \$465 & \$35 & \$80 & \$440 \\ \hline \$540 & \$40 & \$85 & \$455 \\ \hline \$615 & \$40 & \$90 & \$470 \\ \hline \$690 & \$45 & \$95 & \$485 \\ \hline \$765 & \$45 & \$100 & \$500 \\ \hline \$1867 & \$80 & \$165 & \$705 \\ \hline \$2167 & \$90 & \$185 & \$765 \\ \hline \$3435 & \$125 & \$260 & \$1005 \\ \hline \$73735 & \$2235 & \$4475 & \$14360 \\ \hline \end{array}$$

<p>Now, based off this data, find the formulas for the cost of the mini bonus, the cost of the mega bonus, and the cost of the discounter in terms of the amount of money. To be clear, you are finding three different formulas, one for each powerup, and the only independent variable in each formula should be the amount of money. Your formulas must be exact (i.e. not approximations) and they must work for the data in all of the rows of the above table. Finally, your formulas should be as simple as possible: If you find two different formulas which both work, choose the more concise formula.</p>

<details>
<summary>Click here to show the first hint.<span class="space-filler"></span></summary>
First, do a linear regression, where the cost of the powerup is on the y-axis and the amount of money is on the x-axis. This will give you an approximate formula. Then, compare the points on the line to the actual data points and try to modify the linear regression formula in order to make it exact.
</details>
<br/>

<details>
<summary>Click here to show the second hint.<span class="space-filler"></span></summary>
<div>For any number \(z\), the following formula gives you \(z\) rounded up to the next multiple of 5:</div>
$$5\left\lceil \frac{z}{5} \right\rceil$$
<div>For example, for \(z=24\), \(5\lceil \frac{24}{5} \rceil=5\lceil 4.8 \rceil=5\cdot 5=25\) and for \(z=30\), \(5\lceil \frac{30}{5} \rceil=5\lceil 6\rceil=5\cdot 6=30\).</div>
</details>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "blog/math-puzzle-scripts.html" %}
{% endblock %}