{% extends "blog/post.html" %}
{% load static %}

{% block content %}
<p>The following was a puzzle presented to Marshwood GT students on March 15, 2019. Have fun doing math!</p>

<p>Solve the following integral:</p>
$$\int_{-\infty}^\infty e^{-x^2}dx$$

<p>To be clear, you are being asked to find the area under the following curve from \(x=-\infty\) to \(x=+\infty\):</p>
<div class="center">
  <img src="{% static "blog/img/math-puzzle-mar-15-graph1.png" %}" alt="Image containing graph of e^(-x^2)"/>
</div>
<br/>

<p><strong>Part 0</strong>: Integrals containing limits like \(x=\pm\infty\) are called "improper integrals." When we have an integral from \(x=-\infty\) to \(x=\infty\), we usually split it into two integrals by considering the left-hand side, from \(x=-\infty\) to \(x=0\) and the right-hand side, from \(x=0\) to \(x=\infty\), separately:</p>$$\int_{-\infty}^\infty e^{-x^2}dx=\int_{-\infty}^0 e^{-x^2}dx+\int_0^\infty e^{-x^2}dx$$<p>Then, to solve each integral, we replace the \(-\infty\) or \(\infty\) with a limit. For example:</p>
$$\int_0^\infty e^{-x^2}dx=\lim_{b\to \infty} \int_0^b e^{-x^2}dx$$
<p>In other words, this expression takes the limit of the area under \(y=e^{-x^2}\) from \(x=0\) to \(x=b\) as \(b\) goes to \(+\infty\). This is what I really mean when I say "the area under the curve from \(x=0\) to \(x=\infty\)."</p>

<p>Now, here is an example of an improper integral with another function:</p>
$$\int_{0}^\infty \frac{dx}{1+x^2}=\lim_{b\to \infty} \int_0^b \frac{dx}{1+x^2}=\lim_{b\to\infty} \tan^{-1}(b)-\tan^{-1}(0)=\lim_{b\to\infty} \tan^{-1}(b)=\frac{\pi}{2}$$
<p>This is a lot to take in, so make sure you understand these concepts and the example problem before moving on.</p>

<p><strong>Part 0.1</strong>: Try to find the indefinite integral, or antiderivative:</p>
$$\int e^{-x^2}dx$$

<details>
<summary>Click here when you give up.<span class="space-filler"></span></summary>
Some antiderivatives are what we call <a href="https://en.wikipedia.org/wiki/Nonelementary_integral">nonelementary</a>, which basically means that there is no way to express these antiderivatives in terms of the algebraic, exponential, logarithmic, and trigonometric functions that you learn about in high school. Therefore, for an AP Calc student, this antiderivative is impossible to solve using the functions you have learned so far!
</details>
<br/>

<p><strong>Part 1</strong>: Unlike in most AP Calc problems, instead of solving the indefinite integral and then plugging in the limits, we're going to solve this area problem by first solving a volume problem. Consider the volume under the below surface:</p>
$$f(x,y)=e^{-(x^2+y^2)}$$
<div class="center">
  <img src="{% static "blog/img/math-puzzle-mar-15-graph2.png" %}" alt="Image containing surface of e^[-(x^2+y^2)]"/>
</div>

<p>One way to solve for this volume is through cross-sections. Let's look at the cross-section of this surface at \(y=1\):</p>
<div class="center">
  <img src="{% static "blog/img/math-puzzle-mar-15-graph3.png" %}" alt="Image containing graph of e^(-x^2+1)"/>
</div>

<p>The integral for this cross-section is \(\int_{-\infty}^\infty e^{-x^2+1}dx\). Now, here's the cross-section at \(y=2\):</p>
<div class="center">
  <img src="{% static "blog/img/math-puzzle-mar-15-graph4.png" %}" alt="Image containing graph of e^(-x^2+4)"/>
</div>

<p>Similarly, the integral for this cross-section is \(\int_{-\infty}^\infty e^{-x^2+4}dx\). Based off the above two examples, write the formula for the area of the cross-section at \(y=y_0\).</p>

<p><strong>Part 2</strong>: As you likely have learned in your AP Calc class, if a solid has cross section with area \(f(y_0)\) at \(y=y_0\), and the solid goes from \(y=a\) to \(y=b\), then the volume of the solid is:</p>
$$\int_a^b f(y)dy$$
<p>Using this knowledge and your answer from Part 1, find a formula for the volume under the surface \(e^{-(x^2+y^2)}\).</p>

<p><strong>Part 3</strong>: Using the fact that you can factor constants out of integrals, show that the volume formula found in Part 2 is equivalent to:</p>
$$\int_{-\infty}^\infty e^{-y^2} \left(\int_{-\infty}^\infty e^{-x^2}dx\right)dy=\left(\int_{-\infty}^\infty e^{-x^2}dx\right)^2$$

<p><strong>Part 4</strong>: At this point, we have shown that the volume under the surface \(e^{-x^2+y^2}\) is numerically equal to the square of the area under the curve \(e^{-x^2}\), which helps us connect our original area problem to the volume problem posed in Part 1. However, if we use cross-sections, we still need to solve the really hard integral \(\int_{-\infty}^\infty e^{-x^2}dx\) before we can find the volume, which doesn't really help us.</p>

<p>Luckily, another way to solve for this volume is through volume of revolutions. If we rotate \(y=e^{-x^2}\) around the y-axis, then we get the surface \(f(x,y)=e^{-(x^2+y^2)}\):</p>

<div class="center">
  <img src="{% static "blog/img/math-puzzle-mar-15-graph5.png" %}" alt="Image containing graph of e^(-x^2), x &gt; 0"/>
</div>

<p>Using shell method, solve for this volume of revolution.</p>

<p><strong>Part 5</strong>: Now, from Part 3, we have:</p>
$$V=\left(\int_{-\infty}^\infty e^{-x^2}dx\right)^2$$
<p>where \(V\) is the volume under the surface \(e^{-(x^2+y^2)}\). Finally, using your value of \(V\) from Part 4, solve for \(\int_{-\infty}^\infty e^{-x^2}dx\).</p>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "blog/math-puzzle-scripts.html" %}
{% endblock %}