{% extends "blog/post.html" %}
{% load static %}

{% block content %}
<p>The following was a puzzle presented to Marshwood Gifted and Talented Students on January 11, 2019. Many of them were able to solve it intuitively and it can also be solved using <a href="https://artofproblemsolving.com/wiki/index.php/Arithmetic_Mean-Geometric_Mean_Inequality">AM-GM inequality</a> or <a href="http://tutorial.math.lamar.edu/Classes/CalcIII/LagrangeMultipliers.aspx">Lagrange multipliers</a>, but this puzzle shows how the tools students learn in AP Calculus AB (i.e. single-variable calc) can be applied to solve multivariable optimization problems.</p>

<p>Consider three positive real numbers \(a, b, c\) such that \(abc=3\). What is the minimum possible value of \(a+b+c\)?</p>

<p><strong>Part 1:</strong> Show that \(a+b+c=a+b+\frac{3}{ab}\).</p>

<p><strong>Part 2:</strong> Consider the following function:</p>
$$f(b)=a+b+\frac{3}{ab}$$
<p>We want to find the minimum possible value of this function. This can be done using calculus by finding where the derivative equals 0. Thus, find \(f'(b)\). While taking the derivative, treat \(a\) like a constant.</p>

<details>
<summary>Click here for the solution to Part 2.<span class="space-filler"></span></summary>
$$f'(b)=1-\frac{3}{ab^2}$$
</details>
<br/>

<p><strong>Part 3:</strong> Use the equation \(f'(b)=0\) to solve for \(b\) in terms of \(a\). Then, use second-derivative test to show that the global minimum of \(f(b)\) is at this value of \(b\). Remember that \(b\) is a positive number, so the domain is \(b > 0\).</p>

<details>
<summary>Click here for the solution to Part 3.<span class="space-filler"></span></summary>
$$b=\sqrt{\frac{3}{a}}$$
The second derivative, \(f''(b)=\frac{6}{ab^3}\), is always positive for \(b > 0\). Therefore, \(f(b)\) is always a concave-up function for \(b > 0\). Concave-up functions have, at most, one critical point and this critical point must be the global minimum. Thus, since \(f'(b)=0\) at the above value of \(b\), this value of \(b\) is the only critical point of \(f(b)\), meaning that the global minimum of \(f(b)\) is at \(b=\sqrt{\frac{3}{a}}\).
</details>
<br/>

<p><strong>Part 4:</strong> Thus, to find the minimum of \(f(b)\), plug in the value of \(b\) from Part 3 into the function \(f(b)\).</p>

<details>
<summary>Click here for the solution to Part 4.<span class="space-filler"></span></summary>
$$f\left(\sqrt{\frac{3}{a}}\right)=a+2\sqrt{\frac{3}{a}}$$
</details>
<br/>

<p><strong>Part 5:</strong> Now that we have found the minimum with respect to \(b\), the only variable we have left to deal with is \(a\). Thus, consider the new function:</p>
$$g(a)=a+2\sqrt{\frac{3}{a}}$$
<p>Take the derivative and solve for \(a\) using the equation \(g'(a)=0\). Then, use second-derivative test to show that the global minimum of \(g(a)\) is at this value of \(a\).</p>

<details>
<summary>Click here for the solution to Part 5.<span class="space-filler"></span></summary>
$$g'(a)=1-\frac{\sqrt{3}}{a^{3/2}}$$
$$g'(a)=0\implies a=\sqrt[3]{3}$$
The second derivative, \(g''(a)=\frac{3\sqrt{3}}{2a^{5/2}}\), is always positive for \(a > 0\). Therefore, \(g(a)\) is always concave-up for \(a > 0\). As stated earlier, concave-up functions have, at most, one critical point and this critical point must be the global minimum. Thus, since \(g'(\sqrt[3]{3})=0\), the only critical point and global minimum of \(g(a)\) is located at \(a=\sqrt[3]{3}\).
</details>
<br/>

<p><strong>Part 6:</strong> Finally, to find the minimum possible value of \(a+b+c\), plug in the value of \(a\) found in Part 5 into \(g(a)\), which will give you the global minimum of \(g(a)\).</p>

<details>
<summary>Click here for the solution to Part 6.<span class="space-filler"></span></summary>
$$g(\sqrt[3]{3})=3\sqrt[3]{3}$$
Notice how, if we solve for \(b\) using \(b=\sqrt{\frac{3}{a}}\), we get \(b=\sqrt[3]{3}\). Then, if we use the equation \(abc=3\) to solve for \(c\), we get \(c=\sqrt[3]{3}\). Thus, \(a=b=c\) and \(a+b+c=3\sqrt[3]{3}\), which is the answer we found above. Many people solved the puzzle by intuitively assuming \(a=b=c\), but this calculus-based proof gives a more rigorous foundation for that assumption.
</details>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include "blog/math-puzzle-scripts.html" %}
{% endblock %}