{% extends "main/base.html" %}
{% load static %}

{% block title3 %}{% block title2 %}{% block title1 %}Server Error{% endblock %}{% endblock %}{% endblock %}

{% block seo_head %}{% endblock %}

{% block head %}
<style>#heading { font-size: 2em; } p { font-size: 1.5em; } code { font-size: 0.7em !important; }</style>
{% endblock %}

{% block main_attrs %}{% endblock %}

{% block itemprops %}{% endblock %}

{% block body %}
<p id ="heading">Oh noes!</p>
<p>A weird error came up in our server. Please return to the <a href="/">home page</a>. Thanks!</p>
<p>Nerd Message: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP">HTTP</a> Response Code: 500 (Internal Server Error)</p>
{% endblock %}