{# The footer/Creative Commons notice on every Web page #}
{% load static %}
<div id="cc-notice">
<div class="center">
<a href="https://github.com/Noble-Mushtak">
  <img src="{% static "img/github-mark.png" %}"/>
</a>
<a href="https://math.stackexchange.com/users/307483/noble-mushtak">
  <img src="{% static "img/stackexchange-icon.png" %}"/>
</a>
<a href="https://codeforces.com/profile/Noble_Mushtak">
  <img src="{% static "img/codeforces-icon.png" %}"/>
</a>
</div>

<div class="center">All content on this site is available under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>: <img src="{% static "img/creative-commons-by-logo.png" %}" alt="Creative Commons Logo" id="cclogo"/></div>
</div>