/**
 * By Noble H. Mushtak
 * In Public Domain
 * NO WARRANTY EXPRESSED OR IMPLIED. USE AT YOUR OWN RISK.
 */
main{font-size:1.5em}#heading{font-size:2em}main li{font-size:.8em}.btn-success{width:100%;padding:5px;margin-bottom:10px;background-color:#5cb85c!important;border-color:#4cae4c!important;box-shadow:none!important}svg{background-color:#1B3;width:50%;margin:0 auto}.btn-primary,.statistics{position:absolute}.statistics{font-size:1.5em;color:#000}